.media-card-container {
  padding: 8px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  background-color: #fafafa;
  width: 270px;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 14px;
  text-align: start;
}

.media-card-container:hover {
  border: 1px solid rgb(173, 173, 173);
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}

.media-card-icon {
  flex-shrink: 0;
}

.media-card-icon .pdf-icon {
  background: url(icons/pdf.svg);
}

.media-card-container .format {
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  opacity: 0.7;
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

/* CONTENT */

.media-card-content {
  flex: 1;
  min-width: 0;
}

.media-card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #222;
  font-weight: 600;
  margin-bottom: 4px;
}

.media-card-subtitle {
  font-size: 12px;
  color: #707070;
}

/* ACTION AREA */

.media-card-actions {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

/* ICON SIZE */

/* ERROR BORDER */

.error-border {
  border-color: #e13232;
}

.error-icon {
  background: url(icons/error.svg);
}

/* DELETE HOVER */

.delete-icon {
  background: url(icons/trash.svg);
  cursor: pointer;
}

/* LOADER */

.loader {
  width: 18px;
  height: 18px;
  border: 2px solid #ddd;
  border-top: 2px solid #838fa0;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

/* SPIN ANIMATION */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
